acme-monolith/.DS_Store
acme-monolith/ear/.DS_Store
acme-monolith/models/.DS_Store
acme-monolith/scheme/.DS_Store
acme-monolith/services/.DS_Store
acme-monolith/soap/.DS_Store
acme-monolith/web/.DS_Store
acme-orders/.idea/
acme-orders/api/target/
acme-orders/lib/target/
acme-monolith/.idea/
*.iml
acme-monolith/ear/target/
acme-customers/api/target/
acme-monolith/scheme/target/
acme-monolith/services/target/
acme-monolith/soap/target/
acme-monolith/models/target/
acme-customers/ib/target/
acme-monolith/web/target/
acme-customers/.idea/
